
<%layout("./layouts/boilerplate.ejs")%>

<body>

    <div class="row">
        <div class="col-8 offset-2 mt-4">
                <h3>Create a New Lisitng</h3><br>
                <form method="post" action="/listings" class="needs-validation" novalidate enctype="multipart/form-data">
                    
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input name="Listing[title]" placeholder="Add a catchy title" type="text" class="form-control" required>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please choose a title.</div>
                    </div>
                    
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <textarea name="Listing[description]" placeholder="enter description" class="form-control" required></textarea>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please choose a Description.</div>
                    </div>
            
                    <div class="mb-3">
                        <label for="image" class="form-label" required>Upload image</label>
                        <input name="Listing[image]"  type="file" class="form-control" required>
                        <div class="invalid-feedback">Please choose a username.</div>     
                    </div>
            
                    <div class="row">
                        <div class="mb-3 col-md-4 col-sm-12">
                            <label for="price" class="form-label">Price</label>
                            <input name="Listing[price]" placeholder="1000" type="text" class="form-control" required>
                            <div class="valid-feedback">Looks good!</div>
                             <div class="invalid-feedback">Please choose a Price.</div>
                        </div>
                
                        <div class="mb-3 col-md-8 col-sm-12">
                            <label for="country" class="form-label">Country</label>
                            <input name="Listing[country]" placeholder="India" type="text" class="form-control" required>    
                            <div class="valid-feedback">Looks good!</div>
                            <div class="invalid-feedback">Please choose a Country.</div>
                        </div>    
                    </div>
                    
                    <div class="mb-3 ">
                        <label for="location" class="form-label">Location</label>
                        <input name="Listing[location]" placeholder="Jaipur, Rajasthan" type="text" class="form-control" required>
                        <div class="valid-feedback">Looks good!</div>
                        <div class="invalid-feedback">Please choose a Location.</div>
                    </div>

                    <div class="mb-3 col-3">
                        <label for="category" class="form-label">Category</label>
                        <select select id="category" class="form-control" name="Listing[category]">
                            <option selected>select...</option>
                            <option value="Trending">Trending</option>
                            <option value="Rooms">Rooms</option>
                            <option value="Iconic citites">Iconic citites</option>
                            <option value="Mountain">Mountain</option>
                            <option value="Castles">Castles</option>
                            <option value="Pool">Pool</option>
                            <option value="Camping">Camping</option>
                            <option value="Farm">Farm</option>
                            <option value="Artic Pool">Artic Pool</option>
                         </select>
                    </div>


                    
                            <button class="btn btn-dark add-btn mb-4">Add</button>
                 </form>
            </div>
    </div>
           
</body>
