<%layout("./layouts/boilerplate.ejs")%>
<body>
    <div class="row">
        <div class="col-5 offset-3">
            <h1>Login to Wanderlust</h1>

            <form action="/login" method="post" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input name="username" placeholder="Add your user name" id="username" type="text" class="form-control" required>
                    <div class="invalid-feedback">Please enter username.</div>
                </div>

    
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input name="password" placeholder="Add your password" id="password" type="text" class="form-control" required>
                    <div class="invalid-feedback">Please enter password.</div>
                </div>
                <button class="btn btn-success">Login</button>
            </form>
        </div>
    </div>
</body>
